<div class="wrapper">
  <%# 部分テンプレート読み込み。同ディレクトリにある、_side_barと_main_chatファイルを呼び出す %>
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>